body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', Tahoma, arial;
    word-wrap: break-word;
}


/*=====================================OTHERS=========================================*/
#homepage{
    height: 90%;
    background-image: url('../img/bg-topo.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: left;
}

#secondpage{
    height: 30%;
    background-image: url('../img/bg-missao.jpg');
    background-size: cover;
}

#fourpage{
    height: 70%;
}

#footer{
    height: 30%;
}

#navbarNav a{
    color: white;
}

#bee{
    position: absolute;
    right: 48.5%;
    top: 75%;
}

#social{
    box-sizing: border-box;
    width: 2.5em;
}

#onlybee{
    /*animation-name: bee-rotate;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
    position: absolute;
    right: 50%;
    top: 70%;
    animation: bee-rotate 15s 1s 1 none;
    
}

#secondpage div p{
    font-size: 1em;
}

@keyframes bee-rotate{
    0% { 
        transform: rotate(0deg);
            right: 50%;
            top: 70%;
    }

    20%{
        transform: rotate(-60deg);
            right: 55%;
            top: 65%;
    }

    50%{
        transform: rotate(-86deg);
            right: 70%;
            top: 70%;
    }

    75%{

        transform: rotate(86deg);
            right: 20%;
            top: 65%;
    }

    90%{

        transform: rotate(-20deg);
            right: 30%;
            top: 80%;
    }

    100% { 
        transform: rotate(-5deg);
            right: 50%;
            top: 70%;

    }
}



@media screen and (min-width: 992px){
    #homepage{
        padding: 2em 9em;
    }

    #navbarNav a:hover{
        transition: border .2s;
        border-bottom:3px solid orange;
    }

    #text-home{
        font-size: 2.5em;
        color: white;
        font-family: Novedecimus, Tahoma e arial;
    }

    #homemain{
        margin-top: 8em;
    }

    #secondpage{
        padding: 8em 8em;
    }
}

@media screen and (max-width: 992px){
    #homepage{
        padding: 2em 10em;
    }

    #navbarNav a:hover{
        transition: color .2s;
        border-bottom:3px solid orange;
    }

    #text-home{
        font-size: 2em;
        color: white;
        font-family: Novedecimus, Tahoma e arial;
    }

    #homemain{
        margin-top: 10em;
    }
}

@media screen and (max-width: 768px){

    #homepage{
        padding: 2em 4em;
    }

    #navbarNav a:hover{
        transition: color .2s;
        border-bottom: none;
        color: orange;
    }

    #text-home{
        font-size: 2em;
        color: white;
        font-family: Novedecimus, Tahoma e arial;
    }

    #homemain{
        margin-top: 10em;
    }
}

@media screen and (max-width: 576px){
    #menuimage{
        width: 8em;
    }
    #homepage{
        padding: 2em 2em;
    }

    #navbarNav a:hover{
        transition: color .2s;
        border-bottom: none;
        color: orange;
    }

    #text-home{
        font-size: 1.3em;
        color: white;
        font-family: Novedecimus, Tahoma e arial;
    }

    #homemain{
        margin-top: 6em;
    }

    #bee{
    position: absolute;
    right: 46%;
    top: 75%;
}

}